---
import Heading from '../typography/Heading.astro';
import Text from '../typography/Text.astro';
import Label from '../typography/Label.astro';

interface Props {
  institution: string;
  degree: string;
  year: number;
  notable?: string;
}

const { institution, degree, year, notable } = Astro.props;
---

<article class="flex flex-wrap items-baseline gap-x-2 gap-y-1 print:text-[10px]">
  <Heading as="h3" tiny>{degree}</Heading>
  <Text as="span" small class="opacity-60">·</Text>
  <Text as="span" small>{institution}</Text>
  <Text as="span" small class="opacity-60">·</Text>
  <Label as="time">{year}</Label>
  {notable && (
    <Label color="purple" class="w-full">{notable}</Label>
  )}
</article>
