---
import Section from '../ui/Section.astro';

interface Props {
  id?: string;
  title: string;
}

const { id, title } = Astro.props;
---

<Section id={id} title={title}>
  <ol class="relative space-y-fluid-sm">
    <slot />
  </ol>
</Section>
